.swiper-pagination-bullet {
  width: 12px;
  height: 3px;
  background-color: #999999;
  opacity: 1;
  border-radius: 999px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #f80909;
  width: 16px;
}
.my-swiper {
  padding: 10px 0;
}

.custom-next,
.custom-prev {
  padding: 0.75rem;
  background-color: var(--background-light);
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-primary);
  z-index: 50;
  transition: background-color 0.3s ease;
}
.custom-next:hover,
.custom-prev:hover {
  background-color: var(--background);
  cursor: pointer;
}
