@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gradient-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent 0%,
      #e50000 17%,
      transparent 100%
    );
  }
}

:root {
  --background: #141414;
  --foreground: #ffffff;
  --background-light: #1a1a1a;
  --background-footer: #0f0f0f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

h1 {
  font-family: var(--font-montserrat);
  font-size: 2.25rem;
}
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
