@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --foreground: #ffffff;
  --background-light: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

h1 {
  font-family: var(--font-montserrat);
}
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
